#showSearch {
    position: fixed;
    z-index: 1001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    max-height: 85vh;
    overflow: scroll;
    /* Tạo thanh cuộn theo cả hai chiều */
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    display: none;
}

#showSearch::-webkit-scrollbar {
    width: 0;
    /* Ẩn thanh cuộn dọc */
    height: 0;
    /* Ẩn thanh cuộn ngang */
}

#showSearch .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

#showSearch .size-chart th,
#showSearch .size-chart td,
#showSearch .size-chart h2 {
    color: #000;
    text-align: center;
    border: 1px solid #000;
}

#showSearch table {
    font-weight: bold;
}

#showSearch thead {
    background-color: whitesmoke;
}

#showSearch .text-center {
    background-color: #d8d8d8;
}

#showSizeGuide {
    margin: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}


/* Style cho container chứa các sản phẩm trên trang chủ */
#homepage-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Style cho từng sản phẩm */
#homepage-products .item {
    width: calc(25% - 20px); /* Đảm bảo 4 sản phẩm mỗi hàng */
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    background-color: #fff;
    padding: 10px;
    transition: transform 0.2s;
}

#homepage-products .item:hover {
    transform: scale(1.05);
}

/* Style cho hình ảnh sản phẩm */
#homepage-products .item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

/* Style cho tên sản phẩm */
#homepage-products .item h2 {
    font-size: 16px;
    margin: 10px 0;
    color: #333;
    min-height: 40px; /* Đảm bảo tất cả tiêu đề sản phẩm có cùng chiều cao */
}

/* Style cho giá sản phẩm */
#homepage-products .item .price {
    font-size: 18px;
    color: #e74c3c;
    margin-bottom: 10px;
}
