<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cashier</title>

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.3/font/bootstrap-icons.min.css"
        rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <!-- CSS -->
    <link rel="stylesheet" href="./css/admin.css" />
    <!-- chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- sheetjs -->
    <script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.20.3/package/dist/xlsx.full.min.js"></script>
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center bg-warning">
        <div class="d-flex align-items-center justify-content-between">
            <a href="product.html" class="logo d-flex align-items-center">
                <img src="" alt="" />
                <span class="d-none d-lg-block text-light">FishBigWareHouse</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>
        <!-- End Logo -->
    </header>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <!-- Statistic  -->
            <li class="nav-item">
                <a class="nav-link" href="statisticWarehouse.html" id="statisticWarehouseHref">
                    <i class="bi bi-bar-chart-line"></i>
                    <span>Thống kê</span>
                </a>
            </li>
            <!-- Statistic  -->

            <li class="nav-item">
                <a class="nav-link" href="supplier.html" id="supplierHref">
                    <i class="bi bi-person"></i>
                    <span>Nhà cung cấp</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="invoiceImport.html" id="invoiceImportHref">
                    <i class="bi bi-receipt"></i>
                    <span>Hóa đơn nhập hàng</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="detailInvoiceImport.html" id="detailInvoiceImportHref">
                    <i class="bi bi-receipt"></i>
                    <span>Chi tiết hóa đơn nhập hàng</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="warehouse.html" id="warehouseHref">
                    <i class="bi bi-box2"></i>
                    <span>Kho</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="issue.html" id="issueHref">
                    <i class="bi bi-truck"></i>
                    <span>Xuất kho</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" id="admin__sign-out">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Sign Out</span>
                </a>
            </li>
            <!-- End Login Page Nav -->
        </ul>
    </aside>
    <!-- End Sidebar-->
    <main id="main" class="main">
        <section class="section">
            <div class="card" id="FormOrderDetail">
                <div class="card-body">
                    <h5 class="card-title">Chi tiết hóa đơn</h5>
                    <div class="row mb-3">
                        <span class="col-sm-2 col-form-label">Hóa đơn</span>
                        <div class="col-sm-10">
                            <select type="text" class="form-control" id="OrderDetailIDInvoiceImportInp">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <span class="col-sm-2 col-form-label">ID sản phẩm </span>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="OrderDetailIDProductInp" disabled />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <span class="col-sm-2 col-form-label">Tên Sản phẩm mới</span>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="OrderDetailNewNameInp" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <span class="col-sm-2 col-form-label">Tên Sản phẩm còn</span>
                        <div class="col-sm-10">
                            <select type="select" class="form-control" id="OrderDetailAvailableNameInp">
                                <option></option>
                            </select>
                        </div>
                        <div class="row mb-3">
                            <span class="col-sm-2 col-form-label">Kích cỡ</span>
                            <div class="col-sm-10">
                                <select type="select" class="form-control" id="OrderDetailSizeInp">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <span class="col-sm-2 col-form-label">Số lượng</span>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="OrderDetailQuantityInp" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputDate" class="col-sm-2 col-form-label">Đơn giá</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="OrderDetailUnitPriceInp" />
                        </div>
                    </div>



                    <div class="text-center">
                        <button class="btn btn-success" id="OrderDetailAddBtn">
                            Thêm
                        </button>
                        <button class="btn btn-danger" id="OrderDetailDeleteBtn">
                            Xóa
                        </button>
                        <button class="btn btn-primary" id="OrderDetailUpdateBtn">
                            Sửa
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <div class="card recent-sales overflow-auto p-sm-4">
                    <div class="card-body">
                        <div class="row">
                            <p class="col-sm-4">Nhà cung cấp</p>
                            <p id="Supplier" class="col-sm-8 text-start"></p>
                        </div>
                        <div class="row">
                            <p class="col-sm-4">Địa chỉ</p>
                            <p id="Address" class="col-sm-8 text-start"></p>
                        </div>
                        <div class="row">
                            <p class="col-sm-4">Số điện thoại</p>
                            <p id="Phone" class="col-sm-8"></p>
                        </div>

                        <table class="table table-borderless datatable" id="table-order-detail">
                        </table>
                        <hr />
                        <div class="row justify-content-between">
                            <p class="col-sm-4">Tổng cộng</p>
                            <p class="col-sm-3" id="total-full"></p>
                        </div>
                    </div>
                </div>
                <!-- <input type="text" class="form-control" id="ProductID" disabled> -->
            </div>

        </section>
        <!-- End Recent Sales -->
    </main>

    <!-- End #main -->

    <div></div>
    <!--Icon & jquery-->
    <script src="https://kit.fontawesome.com/0d84cb8634.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- DataTable -->
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0d84cb8634.js" crossorigin="anonymous"></script>

    <script type="module" src="./js/adminLogout.js" defer></script>
    <script type="module" src="./model/detailInvoiceImport.js" defer></script>
    <script type="module" src="./js/checkCollapsedWarehouse.js" defer></script>    
    <script type="module" src="./controller/rightAuthorization.js" defer></script>
</body>

</html>