<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse</title>

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.3/font/bootstrap-icons.min.css"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="./css/admin.css">
    <!-- chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- sheetjs -->
    <script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.20.3/package/dist/xlsx.full.min.js"></script>

</head>


<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center bg-warning">

        <div class="d-flex align-items-center justify-content-between">
            <a href="#" class="logo d-flex align-items-center">
                <img src="" alt="">
                <span class="d-none d-lg-block text-light">FishBigWareHouse</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <!-- Statistic  -->
            <li class="nav-item">
                <a class="nav-link" href="statisticWarehouse.html" id="statisticWarehouseHref">
                    <i class="bi bi-bar-chart-line"></i>
                    <span>Thống kê</span>
                </a>
            </li>
            <!-- Statistic  -->

            <li class="nav-item">
                <a class="nav-link" href="supplier.html" id="supplierHref">
                    <i class="bi bi-person"></i>
                    <span>Nhà cung cấp</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="invoiceImport.html" id="invoiceImportHref">
                    <i class="bi bi-receipt"></i>
                    <span>Hóa đơn nhập hàng</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="warehouse.html" id="warehouseHref">
                    <i class="bi bi-box2"></i>
                    <span>Kho</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="issue.html" id="issueHref">
                    <i class="bi bi-truck"></i>
                    <span>Xuất kho</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="invoiceExport.html" id="invoiceExportHref">
                    <i class="bi bi-receipt"></i>
                    <span>Hóa đơn xuất kho</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" id="admin__sign-out">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Sign Out</span>
                </a>
            </li>
            <!-- End Login Page Nav -->
        </ul>
    </aside><!-- End Sidebar-->
    <main id="main" class="main">
        <section class="section dashboard">
            <div class="row">
                

                <div class="card recent-sales overflow-auto">
                    <div class="card-body">
                        <h5 class="card-title">Kho</h5>
                        <table class="table table-borderless datatable" id="table-warehouse">
                        </table>
                    </div>

                </div>
        </section>

    </main>

    <!-- End #main -->

    <div>
    </div>
    <!--Icon & jquery-->
    <script src="https://kit.fontawesome.com/0d84cb8634.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- DataTable -->
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0d84cb8634.js" crossorigin="anonymous"></script>

    <script type="module" src="./js/adminLogout.js" defer></script>
    <script type="module" src="./controller/warehouseManager.js" defer></script>
    <script type="module" src="./js/checkCollapsedWarehouse.js" defer></script>
    <script type="module" src="./controller/rightAuthorization.js" defer></script>



</body>

</html>