ul.products li .product-top .product-thumb img {
    display: block;
}

ul.products li .product-top .product-thumb-hidden{
    display: block;
}
ul.products li .product-top .product-thumb-hidden img {
    display: block;
}
ul.products li .product-top a.product-thumb-hidden {
    list-style: none;
    position: absolute;
    width: 100%;
    bottom: -393.587px;
    display: block;
}
ul.products li:hover a.product-thumb-hidden {
    bottom: 0px;
}
ul.products li .product-top a.add-product {
    list-style: none;
    text-decoration: none;
    text-align: center ;
    display: block;
    background-color: #e0e0e0;
    padding: 10px 0px;
    position: absolute;
    width: 100%;
    transition: 0.25s ease-in-out;
    color: black;
}
ul.products li:hover a.add-product {
    bottom: 50px;
    filter: opacity(90%);
}

ul.products li .product-top a.add-product ul.product-size  {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
}
ul.products li .product-top a.add-product ul.product-size  li  {
    flex-basis: 25%;
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 5px;
    background-color: white;
}
ul.products li .product-info a {
    display: block;
    text-decoration: none;
}
ul.products li .product-info .card-body{
    padding: 0px;
}
ul.products li .product-info a.card-title{
    font-size: 13px;
    color: black;
    padding: 0;
}
ul.products li .product-info .card-price{
    font-size: 13px;
    color: black;
    padding: 0 2px;
    font-weight: 600;
}








.banner  img {
    width: 100%;
}

.banner {
    position: relative;
}

.ctn-banner {
    position:relative;
    left: 20px;
    margin: 0px;
}


.myfooter {
    color: white;
    background-color: black;
    font-weight: 900px;
}

.myfooter h5 {
    font-weight: bold;
    margin-top: 20px;
    margin-left: 40px;
}


.btn-footer {
    background-color: #1E90FF;
    border-radius: 20px;
    color: white;
    font-size: 16.5px;
    font-weight: bold;
    margin-left: 40px;
}

.btn-footer:hover{
    background-color: white;
}






.discount {
    margin-top: 20px;
    background-color: #0000CD;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin-bottom: 30px;
}


.btn-discount-left {
    font-size: 17.5px;
    border:0;
    border-radius: 20px;
    font-weight: bold;
}

.btn-discount-right {
    font-size: 17.5px;
    border-color: rgb(255, 255, 255);
    border-radius: 20px;
    font-weight: bold;
    background-color: #0000CD;
}






.myfooter ul li {
    list-style: none;
    margin-left: 40px;
}

.myfooter ul li a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(211, 211, 211);
}

.myfooter ul li a:hover{
    color: yellow;
}

.myfooter ul {
    padding-left: 0;
}

.myfooter p {
    font-size: 15px;
    margin-bottom: 0;
    margin-left: 40px;
}

hr {
    margin-left: 40px;
    margin-right: 40px;
}
body{
    background-color: rgb(228, 228, 228);
}
.container_p {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container_p > div {
    margin: 30px 10px 10px 10px;
}
.sidebar_user {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    
}
.sidebar_user > a {
    background: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px 60px;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}
.sidebar_user > a:hover{
    background: grey;
    cursor: pointer;
}
a:active{
    background: black;
    color: white;
}
.img{
    height: 25px;
    width: 25px;
    background: white;
}
.profile {
    width: 800px;
    background-color: white;
    border-radius: 20px;
    
}
.header {
    font-size: 30px;
    margin: 30px 0px 30px 40px;
}
.profile_item{
    margin: 0px 0px 30px 40px;
    font-size: 20px;
    color: rgb(84, 84, 84);
    display: inline-block;
    width: 200px;
}
.profile_item_inp{
    margin: 0px 0px 30px 60px;
    font-size: 20px;
    color: black;
    right: 1px;
    width: 400px;
    border: 2px solid black;
    border-radius: 8px;
    text-indent: 7px;
}
.updbtn{
    margin-left: 36px;
    margin-bottom: 30px;
    padding: 15px;
    font-size: 20px;
    border-radius: 30px;
    font-weight: bold;
    background-color: white;
}
.updbtn:hover{
    background-color: gray;
    border-color: gray;
    cursor: pointer;
} 